# cool powerups here: http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired
[user]
  name = Christopher Fujino
  email = christopherfujino@gmail.com
[push]
  default = simple
[alias]
  a = add
  amend = !git add -A && git commit --amend --reuse-message=HEAD
  b = branch
  c = commit -m
  cm = !git add -A && git commit -m
  co = checkout
  co-pr = !sh -c 'git fetch upstream pull/$1/head:pr/$1 && git checkout pr/$1' -
  d = diff
  fp = !sh -c 'git push --force-with-lease $1'
  l = !git log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  h = !git log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  hub = !git push -u origin $(git symbolic-ref --short HEAD)
  pl = pull --prune
  prune-all = "!git remote | xargs git remote prune"
  r = remote -v
  s = status
  t = tag
  assume = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed = "!git ls-files -v | grep ^h | cut -c 3-"
[core]
  #pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
  algorithm = patience
[http]
  cookiefile = "~/.gitcookies"
[color]
  ui = auto
[pull]
  ff = only
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "sso://flutter/"]
	insteadOf = https://flutter.googlesource.com/
